<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous" />
</head>
<body>
    <div class="container mt-5" id="app" ng-app="app" ng-controller="ctrl">
        <div class="row">
            <div class="col-sm-12">
                <div class="mt-3">
                    <div class="mb-2">
                        <label for="desc1" class="form-label"><h1>Descrição do Checklist</h1><hr/></label>
                        <input type="text" class="form-control" ng-model="model.description" id="desc1" placeholder="Digite a descrição ...">
                    </div>                    
                    <div class="shadow p-3 mb-5 bg-white rounded" ng-repeat="(ix1, group) in model.groups">
                        <h4>Grupo: ({{group.title}})</h4>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="mb-2">
                                    <label for="title1" class="form-label">Titulo do Grupo</label>
                                    <input type="text" class="form-control" ng-model="group.title" id="groupt1" placeholder="Digite grupo ..." />
                                </div>                                    
                            </div> 
                            <div class="mt-2 d-flex justify-content-end">
                                <button type="button" ng-click="addSubGroup(group.subGroups)" class="btn btn-primary">Adicionar Sub Grupo</button>
                            </div>  
                        </div>
                        <div class="row" ng-repeat="subGroup in group.subGroups">
                            <h4>Sub-Grupos ({{subGroup.title}})</h4>                            
                            <div class="col-sm-12">
                                <div class="mb-2">
                                    <label for="title1" class="form-label">Titulo do SubGrupo</label>
                                    <input type="text" class="form-control" ng-model="subGroup.title" id="groupt1" placeholder="Digite sub grupo ..." />
                                </div> 
                            </div>
                            <div class="mt-2 d-flex justify-content-end">
                                <button type="button" ng-click="addQuestion(subGroup)" class="btn btn-primary">Adicionar pergunta</button>
                            </div>                              
                            <div class="mt-2" ng-repeat="(ix2, question) in subGroup.questions">
                                <h4>Perguntas</h4>
                                <hr />
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="mb-2">
                                            <label for="title1" class="form-label">Titulo da Pergunta</label>
                                            <input type="text" class="form-control" ng-model="question.title" id="title1" placeholder="Digite a título ..." />
                                        </div>                                
                                        <div class="row" ng-repeat="option in question.options">
                                            <div class="col-1">
                                                ...
                                            </div>
                                            <div class="col-11">
                                                <div class="mb-2">
                                                    <input type="text" class="form-control" ng-model="option.title" placeholder="Digite a opção ..." />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mt-2 d-flex justify-content-end">
                                            <button type="button" ng-click="addOption(question.options)" class="btn btn-primary">Adicionar resposta</button>
                                        </div>
                                    </div>
                                </div>                                                      
                            </div> 
                        </div>                                                                 
                    </div>
                    <div class="mt-2">
                        <button type="button" ng-click="addGroup()" class="btn btn-primary">Adicionar Group</button>
                    </div>                                
                </div>
            </div>            
        </div>    
        <div class="">
            <pre>{{debugJson()}}</pre>
        </div>    
    </div>    
    <script src="/js/jquery-3.6.0.js"></script>
    <script src="/js/bootstrap.bundle.js"></script>
    <script src="/js/angular-1.8.2.js"></script>
    <script src="/js/uuidv4.js"></script>
    <script>
        const app = angular.module('app', []);
        const ctrl = app.controller('ctrl', function($scope){
            function uuid() {
                return uuidv4();
            }
            function renderColor() {
                $scope.cssColor = $scope.cssColor === 'p-1 mt-2 border border-primary rounded' 
                    ? 'p-1 mt-2 border border-info rounded' 
                    : 'p-1 mt-2 border border-primary rounded';
                return $scope.cssColor;                
            }
            $scope.cssColor = "border border-primary";
            $scope.model = {
                'id': uuid(),                
                'description': '',
                'groups': [],
            };                        
            $scope.addGroup = function() {
                const obj ={
                    'id': uuid(),
                    'title': '',
                    'color': renderColor(),
                    'subGroups': [{
                        'id': uuid(),
                        'title': '',
                        'questions': []
                    }],
                }
                $scope.model.groups.push(obj);
                $scope.updateLayout();
            }
            $scope.addSubGroup = function(subGroup) {
                const obj = {
                    'id': uuid(),
                    'title': '',
                    'questions': []
                };
                subGroup.push(obj);
            }
            $scope.addQuestion = function(group) {
                const obj = {
                    'id': uuid(),
                    'title': 'titulo da pergunta', 
                    'options': [], 
                    'status': true
                };
                group.questions.push(obj);
            }
            $scope.addOption = function(options) {
                const obj = {
                    'id': uuid(),
                    'title': '', 
                    'status': true};
                options.push(obj);
            }
            $scope.debugJson = function() {
                return JSON.stringify($scope.model, null, 2);
            }            
        });
        
    </script>
</body>
</html>